<div class="mat-typography" class="page home">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="page-title">
            <img class="svg" src="assets/svg/file.svg">
            <span>Todo List App</span>
          </h2>
        </div>
        <div class="col-md-6">
          <form  class="example-form">
            <mat-form-field  class="example-full-width">
              <input   matInput placeholder="Yapılacak yeni madde ekle" #newTodo>
            </mat-form-field>
            <button class="buttonn" type="submit" mat-raised-button color="accent" (click)="addTodo(newTodo)">Ekle</button>
          </form>
        </div>
      </div> 
      <div class="row mt-3" >
        <div class="col-md-12">
            <mat-card >
                <mat-card-content style="display: flex" class="mat-cardd" >
                  <div class="example-container">
                    <h2>Yapılacaklar</h2>
                  
                    <div
                      cdkDropList
                      #pendingsList="cdkDropList"
                      [cdkDropListData]="data.pendings"
                      [cdkDropListConnectedTo]="[inProgressList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of data.pendings" cdkDrag>
                        <img class="svg" src="assets/svg/clock.svg">
                        <span class="todo-title">{{item.todo}}</span>
                        </div>
                    </div>
                  </div>
                  
                  <div class="example-container">
                    <h2>Yapım Aşamasında Olanlar</h2>
                  
                    <div
                      cdkDropList
                      #inProgressList="cdkDropList"
                      [cdkDropListData]="data.inProgress"
                      [cdkDropListConnectedTo]="[pendingsList,doneList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of data.inProgress" cdkDrag>
                        <img class="svg" src="assets/svg/hourglass.svg">
                        <span class="todo-title">{{item.todo}}</span>
                       </div>
                    </div>
                  </div>
                  <div class="example-container">
                    <h2>Tamamlananlar</h2>
                  
                    <div
                      cdkDropList
                      #doneList="cdkDropList"
                      [cdkDropListData]="data.done"
                      [cdkDropListConnectedTo]="[inProgressList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of data.done" cdkDrag>
                        <img class="svg" src="assets/svg/like.svg">
                        <span class="todo-title">{{item.todo}}</span>
                       </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12 text-center" >
            <small>Copyright 2018 Todo List App</small>
        </div>
      </div>
    </div>
  </div>
  <div class="example-container">
  
 
  